@page "/chat"
@using Blazored.SessionStorage
@using QuickTalk.Client.Services
@using Microsoft.Extensions.Options
@inject NavigationManager NavigationManager
@inject ChatManager ChatManager
@inject ApiBaseAddressConfiguration ApiBaseAddressConfiguration
@inject ISessionTokenStorage SessionStorage
@inject ILogger<Chat> Logger;
@inject HubService HubService

@if (HubService.IsConnected)
{
    <div class="d-flex flex-grow-1 flex-row">
        <MudPaper Elevation="25" Class="py-4 flex-grow-1">
            <MudToolBar Style="background-color: var(--mud-palette-primary-lighten); color: white;">
                <MudIcon Icon="@Icons.Material.Outlined.Person" Style="margin-right:10px"></MudIcon>
                <MudText Typo="Typo.h6">@helloMessage</MudText>
            </MudToolBar>
            <div class="d-flex flex-column px-4" style="max-height:65vh;min-height:65vh; overflow:scroll;" id="chatContainer">
                @foreach (var message in messages)
                {
                    <div class="d-flex flex-row my-4">
                        <div>
                            <MudText Typo="Typo.body1">@userName</MudText>
                            <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message</MudText>
                        </div>
                    </div>
                }
            </div>
            <MudPaper Elevation="25" Class="d-flex flex-row px-2 mx-4">
                <MudTextField T="string" Placeholder="Enter your Username..." Underline="true" Class="mt-n2 mx-4"
                @bind-Value="userName" />
                <MudTextField T="string" Placeholder="Enter your Message..." Underline="true" Class="mt-n2 mx-4"
                @bind-Value="message" />
                <MudButton OnClick="SendMessageAsync" StartIcon="@Icons.Material.Outlined.Send" Color="Color.Secondary" ButtonType="ButtonType.Button">Send</MudButton>
            </MudPaper>
        </MudPaper>
    </div>
}
else
{
    <p>Connecting....</p>
}


@code {

    private string userName = string.Empty;
    private Guid userId;
    private List<MessageDto> messages = null!;
    private string? helloMessage;
    private string? message;
    private string connectionId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        HubService.UserMessageReceived += OnMessageReceived;
        HubService.HelloMessageReceived += OnHelloMessageReceived;

        userName = await SessionStorage.GetCurrentUserNameAsync();
        userId = await SessionStorage.GetCurrentUserIdAsync();

        // messages = await GetUserMessagesAsync()

        await ConnectAsync();
    }

    private async Task ConnectAsync()
    {
        await HubService.InitializeAsync();
        connectionId = HubService!.Connection!.ConnectionId!;
        StateHasChanged();
        await HubService.SendHelloMessageAsync();
    }

    // private async Task SendMessageAsync()
    // {
    //     if (!HubService.IsConnected)
    //     {
    //         throw new ArgumentNullException();
    //     }

    //     var currentUserId = SessionStorage.GetCurrentUserIdAsync().Result;
    //     var userName = SessionStorage.GetCurrentUserNameAsync().Result;
    //     var messageDto = new MessageDto(Guid.NewGuid(), currentUserId, Guid.NewGuid(), userName, message);

    //     await SaveMessage(messageDto);

    //     await HubService.SendMessageAsync(userName!, message!);
    // }

    private async Task SendMessageAsync()
    {
        await Task.CompletedTask;
    }

    private void OnMessageReceived(string userName, string message)
    {
        // messages.Add(message);
        // StateHasChanged();
    }

    private void OnHelloMessageReceived(string message)
    {
        helloMessage = message;
        StateHasChanged();
    }

    private async Task SaveMessage(MessageDto content)
    {
        await ChatManager.SendMessageAsync(content);
    }

    private async Task<List<MessageDto>> GetUserMessagesAsync(Guid senderId, Guid consumerId)
    {
        var messages = await ChatManager.GetMessagesAsync(senderId, consumerId);
        return messages ?? new List<MessageDto>();
    }
}
